<div class="about-me-page">
	<h1>WIP</h1>
	<p>This page is a work in progress. Check back soon for updates!</p>
	<div></div>
	<h1>About Me</h1>
	<div class="profile">
		<img class="profile-picture" src="assets/profile-pic.jpg" alt="Profile Picture" />
		<div class="description">
			<p>
				Welcome! I'm Bishal Regmi, a dedicated developer fueled by passion
				(and habit) and a relentless drive for excellence. With a
				comprehensive background in both front-end and back-end development,
				I navigate the dynamic landscape of web technologies and frameworks
				with ease (mostly). Embracing a perpetual hunger for knowledge, I
				thrive on continuous learning and honing my skills. Join me on this
				exhilarating journey of innovation and creativity as we push the
				boundaries of what's possible in the digital realm.
			</p>
			<p>
				With a solid foundation in software development, honed through
				successful projects utilizing React and the .Net Framework, I am
				committed to continuous growth and excellence in my field.
				Recognizing the importance of a versatile skill set in today’s
				dynamic technology landscape, I am currently dedicating my efforts
				to mastering Angular and Java Spring Boot. This strategic focus is
				driven by a desire to not only diversify my technical expertise but
				also to enhance my ability to deliver innovative solutions. My
				dedication to expanding my knowledge base is a testament to my
				hardworking nature and professional commitment to staying at the
				forefront of technological advancements. Through this journey, I aim
				to further solidify my capabilities in developing high-quality,
				scalable applications that meet and exceed the evolving needs of the
				industry.
			</p>
		</div>
	</div>
	<div class="buffer"></div>
	<div class="skills">
		<h2>Skills</h2>
		<ul class="skills-list">
			<li>HTML5</li>
			<li>CSS3</li>
			<li>JavaScript</li>
			<li>Angular</li>
			<li>React</li>
			<li>Bootstrap</li>
		</ul>
	</div>
	<div class="education">
		<h2>Education</h2>
		<div class="education-details">
			<h3>University of Maryland, Baltimore County</h3>
			<p>Bachelor's Degree in Computer Science</p>
			<p>Graduated in Spring 2021, GPA: 4.0</p>

			<h3>University of Maryland, College Park</h3>
			<p>Master's Degree in Data Science and Analytics</p>
			<p>Graduated in Summer 2023, GPA: 4.0</p>
		</div>
	</div>

	<div class="experience">
		<h2>Experience</h2>
		<div class="experience-details">
			<h3>T.Rowe Price</h3>
			<p>Software Developer</p>
			<p>2021 - Present</p>
			<ul>
				<li>Developed and maintained responsive web applications</li>
				<li>
					Collaborated with designers and back-end developers to implement
					user interfaces
				</li>
				<li>Optimized website performance and accessibility</li>
			</ul>
		</div>
	</div>

	<div class="projects">
		<h2>Projects</h2>
		<div class="projects">
			<h3>Project 1</h3>
			<p>Description of Project 1</p>
			<h3>Project 2</h3>
			<p>Description of Project 2</p>
			<h3>Project 3</h3>
			<p>Description of Project 3</p>
		</div>
	</div>

	<div class="interests">
		<h2>Interests</h2>
		<div class="interests">
			<ul>
				<li>Web development</li>
				<li>Data Science</li>
				<li>Artificial Intelligence</li>
			</ul>
		</div>
	</div>
	<div></div>
</div>
