.wip {
	margin: 0px;
	padding: 0px;
}

.about-me-page {
	width: calc(100% - 10px);
	padding: 0px 5px;
	background-color: #ffde64;
    background: linear-gradient(to right, #e2e2e2, #ffde64);
}

.profile-picture {
	float: left;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	padding: 5px;
}

.buffer {
	clear: both;
}
