$base-title-font-size: 24px;
$base-button-font-size: 18px;
$base-button-font-size-small: 16px;
$base-font-size: 18px;

.toolbar-container {
	display: flex;
	flex-direction: row;
	font-size: $base-title-font-size;
	background-color: black;
	color: white;
}

.logo-button {
	height: calc(var(--mat-toolbar-standard-height) - 10px);
	width: calc(var(--mat-toolbar-standard-height) - 10px);
}

.spacer {
	flex: 1 1 auto;
}

.page-content-with-sidebar {
	height: calc(100% - var(--mat-toolbar-standard-height));
	width: 100%;
}

.nav-bar-container {
	width: 100%;
	height: 100%;
}

.sidenav {
	min-width: 200px;
	display: flex;
	flex-direction: column;
}

.sidenav-button {
	padding: 5px;
	width: 100%;
	font-size: $base-button-font-size;
}

.page-content {
	height: 100%;
	width: 100%;
}


@media only screen and (max-width: 600px) {
	.title-text {
		font-size: 24px;
	}

	.logo-button {
		height: calc(var(--mat-toolbar-standard-height) - 30px);
		width: calc(var(--mat-toolbar-standard-height) - 30px);
	}

	.sidenav-button {
		font-size: $base-button-font-size-small;
	}
}
