<mat-toolbar class="toolbar-container">
	<button
		mat-icon-button
		class="nav-bar-menu-icon-left"
		aria-label="icon-button with menu icon"
		(click)="drawer.toggle()"
	>
		<mat-icon>menu</mat-icon>
	</button>
	<button
		mat-stroked-button
		class="logo-button"
		[routerLink]="['']"
	>
		<img
			class="logo-button"
			src="./assets/logo_ai_gen.png" alt="Main Page Logo"
		/>
	</button>
	<span class="title-text">Research Portfolio</span>
	<span class="spacer"></span>
	<span class="login-menu" *ngIf="!isAuthenticated">
		<button
			mat-stroked-button
			class="login-button"
			[routerLink]="['/login']"
		>
			Login
		</button>
	</span>
	<span class="user-profile" *ngIf="isAuthenticated">
		<button
			mat-stroked-button
			class="login-button"
			[routerLink]="['/profile']"
		>
			Profile
		</button>
		<button
			mat-stroked-button
			class="login-button"
			(click)="onLogout()"
		>
			Logout
		</button>
	</span>
</mat-toolbar>
<div class="page-content-with-sidebar">
	<mat-drawer-container class="nav-bar-container" autosize>
		<mat-drawer #drawer class="sidenav" mode="side">
			<button
				mat-stroked-button
				class="sidenav-button"
				[routerLink]="['']"
				(click)="drawer.toggle()"
			>
				Home
			</button>
			<button
				mat-stroked-button
				class="sidenav-button"
				[routerLink]="['/project']"
				(click)="drawer.toggle()"
			>
				Projects
			</button>
			<button
				mat-stroked-button
				class="sidenav-button"
				[routerLink]="['/about']"
				(click)="drawer.toggle()"
			>
				About
			</button>
		</mat-drawer>
		<div class="page-content">
			<ng-content></ng-content>
		</div>
	</mat-drawer-container>
</div>
