$base-title-font-size: 36px;
$base-button-font-size: 24px;
$base-font-size: 18px;

.toolbar-container {
	display: flex;
	flex-direction: row;
	font-size: $base-title-font-size;
}

.spacer {
	flex: 1 1 auto;
}

.page-content-with-sidebar {
	height: calc(100% - var(--mat-toolbar-standard-height));
	width: 100%;
}

.nav-bar-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.sidenav {
	min-width: 100px;
	display: flex;
	flex-direction: column;
}

.sidenav-button {
	padding: 5px;
	width: 100%;
	font-size: $base-button-font-size;
}


