.page-not-found-page {
	background-color: #ffde64;
	background: linear-gradient(to right, #e2e2e2, #ffde64);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: calc(100vw - 10px);
	padding: 0px 5px;
}

.fourOfour-msg {
	font-size: 300px;
	color: black;
	margin: 0px;
	text-shadow: 4px 4px 0px #ffde64, 7px 7px 0px #ffbc00;
}
