<div class="not-found container">
  <p class="eyebrow">Error 404</p>
  <h1 class="not-found-title">Page not found</h1>
  <p class="not-found-message">
    That page doesn't exist. It may have moved, or the link may be wrong.
  </p>
  <ul class="not-found-links">
    <li><a class="btn-primary btn-md" [routerLink]="['/project']">See the projects</a></li>
    <li><a class="btn-secondary btn-md" [routerLink]="['/blog']">Read the blog</a></li>
    <li><a class="btn-secondary btn-md" [routerLink]="['']">Go to the home page</a></li>
  </ul>
</div>
