.dashboard-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: #ffde64;
    background: linear-gradient(to right, #e2e2e2, #ffde64);
}

.page-logo {
	height: min(75vw, 75vh);
	width: min(75vw, 75vh);
}
